log_level  = "DEBUG"
data_dir   = "/opt/nomad"
bind_addr  = "${bind_addr}"
datacenter = "${datacenter}"

# Enable the server
server {
  enabled = true
  bootstrap_expect = ${cluster_size}

  server_join {
    retry_join = ["${join_addr}"]
  }
}

# Enable a client on the same node
client {
  enabled = true
  server_join {
    retry_join = ["${join_addr}"]
  }
}